@{
    ViewData["Title"] = "No rights";
}
<div style="display: flex; justify-content: center; width: 100%; margin-top: 3.1em;">

    <div><img src="~/pictures/lock.png" style="width: 10em; height: 10em; margin-right: 1em;"></div>
    <div style="font-size: 2.3em; align-self: center;">You have no to get this page</div>

</div>